<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About | Doc In Ease </title>
    {% load static %}

    <!-- == Google Fonts -->
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- == CSS -->
    <!-- Material CSS -->
    <link rel="stylesheet" href="{% static 'about/materialize/css/materialize.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'about/css/main.css' %}">
</head>
<body>
    <!-- Main Wrapper -->
    <div class="row" id="main-wrapper">
        <!-- ============================================================================== -->
        <!-- Navs -->
        <!-- ================================= -->
        <!-- Navigation Bar At top -->
        <nav class="blue white-text">
            <div class="nav-wrapper">
                <!-- More Button -->
                <ul class="left">
                    <li><a href="#" data-target="slide-out" onclick="openSideNav()"><i class="material-icons">more_vert</i></a></li>
                </ul>
                <!-- Brand Logo -->
                <a href="{% url 'home:index' %}" class="brand-logo"><i class="material-icons">local_printshop</i>DocInEase</a>
                <!-- Other Similar Not Important Buttons -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons">refresh</i></a></li>
                    <li><a href="#"><i class="material-icons">help_outline</i></a></li>
                </ul>
            </div>
        </nav><!-- ./ Navigation -->
        <!-- ================================= -->
        <!-- Side Nav -->
        <ul id="slide-out" class="sidenav">
            <li><a class="waves-effect" href="{% url 'home:index' %}"><i class="material-icons">local_printshop</i>Home</a></li>
            <li><a class="waves-effect" href="{% url 'help:index' %}"><i class="material-icons">help_outline</i>Help</a></li>
            <li><a class="subheader">DocInEase 2020.02 Update</a></li>
            <li><a class="waves-effect" href="{% url 'about:index' %}"><i class="material-icons">verified_user</i>About</a></li>
        </ul><!-- ./ Slide Nav -->
        <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: none;"><i class="material-icons">menu</i></a>
        <!-- ============================================================================== -->
        <div class="container">
            <!-- About -->
            <div class="card center-align">
                <div class="card-content">
                    <span class="card-title">DocInEase 1.2.2</span>
                    <p>You are using DocInEase Latest February Update. Doc In Ease. Document Made Easy To Convert To a PDF. Our Goal is to make people's life easier with this tool. Thanks alot for using this tool. We will dedicate to our fullest to provide the user with better experience. We are The TechLio Team. If you have any concerns, feedbacks or suggestions please post below.</p>
                    <!-- Form Form Suggestions foing -->
                    <form>
                        {% csrf_token %}
                        <div class="input-field col s12">
                            <input id="suggest_message_input" type="text" class="validate">
                            <label for="suggest_message_input">Concerns | Feedbacks | Suggestions for improving the next version</label>
                        </div>
                        <button class="btn blue right waves-effect waves-light" onclick="sendMessage()" type="button">Send Message</button>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div><!-- ./Main Wrapper -->


    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Material JS -->
    <script src="{% static 'about/materialize/js/materialize.min.js' %}"></script>
    <!-- Material Init -->
    <script src="{% static 'about/materialize/js/inits.js' %}"></script>
    <!-- Jquery -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'about/js/main.js' %}"></script>
</body>
</html>